<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title: 'Contacto' }) %>

    <body>
        <%- include('./partials/header') %>
            <main class="contacto">

                <section class="formulario">
                    <article class="titulo-contacto">
                        <h1>Contacto</h1>
                        <h3>Si querés mas información o tenes preguntas déjanos tu contacto o contactanos <br> por nuestras redes.</h3>
                    </article>
                    <article class="articulo-formulario">
                      
                    <form action="https://formsubmit.co/cordobalucas225@gmail.com" id="formulario" method="POST" class="formulario-form">
                        <div>
                            <input type="text" placeholder="Nombre y Apellido" id="nombre" name="Nombre y apellido">
                            <p class="error" id="nombrerror">
                                <%= locals.errors && errors.titulo ? errors.titulo.msg : null %>
                            </p>
                        </div>
                        <div class="edad-localidad">
                            <div>
                                <input type="number" class="edad" placeholder="Edad" id="edad" name="Edad">
                                <p class="error" id="edaderror">
                                    <%= locals.errors && errors.titulo ? errors.titulo.msg : null %>
                                </p>
                            </div>
                            <div>
                                <input type="text" class="localidad" placeholder="Localidad" id="localidad" name="Localidad">
                                <p class="error" id="localidaderror">
                                    <%= locals.errors && errors.titulo ? errors.titulo.msg : null %>
                                </p>
                            </div>
                        </div>
                        <div>
                            <input type="email" placeholder="Escribe tu e-mail" id="email" name="Email">
                            <p class="error" id="emailerror">
                                <%= locals.errors && errors.titulo ? errors.titulo.msg : null %>
                            </p>
                        </div>
                        <div>
                            <input type="number" placeholder="Teléfono" id="telefono" name="Telefono">
                            <p class="error" id="telefonoerror">
                                <%= locals.errors && errors.titulo ? errors.titulo.msg : null %>
                            </p>
                        </div>
                        <div>
                            <textarea  id="mensaje" cols="30" rows="10" placeholder="Deja tu mensaje (Si deseas ser contactado en un horario en especifico por favor déjalo aclarado)" name="mensaje"></textarea>
                            <p class="error" id="mensajeerror">
                                <%= locals.errors && errors.titulo ? errors.titulo.msg : null %>
                            </p>
                        </div>
                        
                        <div class="div-boton">
                            <div class="boton-wallet"><button  disabled  class="botona" id="btn" type="submit" value="ENVIAR MENSAJE">Enviar mensaje  </button></div>
                        </div>
                        <input type="hidden" name="_next" value="http://localhost:4080/">
                        <input type="hidden" name="_captcha" value="false">
                    


      
                    </form>
                </article>
                </section>
                <section class="conexion">
                    <article class="qr">
                        <div class="texto-qr">
                            <h1>Seguinos en <br> nuestras redes</h1>
                            <h3> y sumate a los grupos de la comunidad <br> para mantenerte al día con lo ultimo en <br>
                                información y poder participar de sorteos <br> y beneficios exclusivos</h3>
                        </div>
                        <img class="imagen-qr" src="/images/qr.jpg" alt="">
                        <h2 class="linktree">Linktree</h2>
                    </article>
                    <article class="redes">
                        <a href="">
                            <div class="instagram">
                                <i class="fab fa-instagram"></i>
                                <div class="texto-instagram">
                                    <h2>Atomic.lat</h2>
                                    <h4>Mantenete al día con nuestras historias diarias <br> que brindan información de
                                        alto <br> valor del mundo defi.</h4>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="telegram">
                                <i class="fab fa-telegram-plane"></i>
                                <div class="texto-telegram">
                                    <h2>ATOMIC</h2>
                                    <h4>Sé parte de nuestra comunidad y encuentra <br> gente con mismos intereses para
                                        relacionarte.</h4>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="email">
                                <i class="fas fa-envelope"></i>
                                <div class="texto-email">
                                    <h2>Info@atomic.lat</h2>
                                    <h4>Para información especifica envianos un mail <br> con un tiempo de respuestra
                                        express</h4>
                                </div>
                            </div>
                        </a>

                    </article>
                </section>
            </main>
            <script src="/javascript/validacionProductos.js"></script>
    </body>

</html>